@mixin small {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

.Contact {
  .Contact__form {
    display: flex;
    flex-wrap: wrap;
  }

  .Contact__button {
    //background-color: var(--main-color);
    border: 2px solid var(--main-color);
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    letter-spacing: 2px;
    display: block;
    margin-left: auto;

    &:hover {
      background-color: var(--main-color);
      color: #fff;
    }
  }

  input,
  textarea {
    padding: 10px 18px;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--main-color);
    margin: 20px 0;
  }

  h2 {
    text-align: center;
  }

  .Contact__content {
    margin: 50px 0;

    img {
      display: block;
      margin: auto;
    }
  }

  .Contact__address {
    padding: 30px 100px;

    @include small {
      margin-top: 50px;
      padding: 10px;
    }
  }
}
