.background {
  margin: 30px 10% 220px 10%;
  max-width: 1700px;
  position: relative;
  z-index: 999999;
}

.backgroundImg {
  display: flex;
  max-width: 600px;
  margin-left: auto;
  -webkit-box-shadow: -25px 25px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: -25px 25px 0px 0px rgba(255, 255, 255, 1);
  box-shadow: -25px 25px 0px 0px rgba(255, 255, 255, 1);
}

.napis {
  margin-top: 50px;
  margin-left: -293px;
  position: absolute;
  padding-left: 6px;
}

.napis h1 {
  font-size: 64px;
  font-family: "Coustard", serif;
}

.background dfn {
  color: white;
  font-style: normal !important;
  padding-left: 1px;
}

.chair {
  position: absolute;
  width: 22%;
  max-width: 180px;
  margin-top: 200px;
  margin-left: 230px;
}
